/**************************General settings*********************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100%;
    color:#555;
}

/******************************Nav Bar***************************************************************/
nav{
    display: grid;/*établit une grille avec les éléments contenu à l'intérieur, row Columns*/
    grid-template-columns: auto 1fr; /*1 fr: 1 fraction -> La largeur de la  1ère colonne (contenant Our store)  sera aussi grande que son contenu , align les liens  en haut de page dès que l on insère 1fr (devient la deuxième colonne qui)*/
    align-items: center;/*align les éléments verticalement au centre de chaque colonne*/
    grid-column-gap: 30px; /*gap entre les colonnes de 30px*/
    grid-template-rows: 70px;/*dimension de la ligne */
    box-shadow: 0 5px 5px rgba(0,0,0,0.15); /*crée une ombre de la nav suivant les cotes et une opacité de 0.15*/
    position: sticky;/*garde la barre de nav fixe en position*/
    top: 0;/*à la position en hauteur 0*/
    background-color: white;
    padding-left: 20px; /*Créer un espace pour  la cellule uniquement pour ne pas avoir le texte collé à gauche, si on avait mis margin, l'ombre se serait décalé également, hors la juste le texte*/
    padding-right: 20px;
}

nav .brand{
    font-size: 28px;
    font-weight: 600;
    color: #245990;
}

nav a{
    text-decoration: none;
    display:inline-block;/*block ligne pour tout les liens*/
    padding: 10px 35px; /*écarte les liens entre eux de 35 px en élargissant leurs cellule et 10px en haut et bas */
    transition : background-color 0.3s , color 0.3s; /*ajoute une transition background et color font lorsque le :hover sera appliqué*/
    color: #245990;
    font-size: 18px;
}
nav a:hover,
nav a.active{ /*lors du hover et lorsque la classe active sera appliqué en JS*/
    background-color: #4d9176;
    color: #fff;
    border-radius: 3px; /*box qui apparaitra en fond vert et avec écriture blanche + rayon de 3px*/

}

/******************************************Header***************************************************/
header{
    padding: 40px 20px;/*20px sur les cotés, alignés avec le padding left et right de la nav*/
    background-color:#f4f4f4;/*fond coloré du header qui sera différent du main*/
}

header h1{}

header .sub-title{ /*paragraphe*/
    margin-top: 20px;
    line-height: 28px;/*pour aérer le texte sur les différentes lignes*/
}

/******************************************Main***************************************************/
main{
    padding: 20px;/*20px sur les cotés, alignés avec le padding left et right de la nav et du header*/
    display: grid;/*afin d'avoir le contenu sur deux colonnes(comme pour la nav bar)*/
    grid-template-columns: auto 1fr; /* permet d'avoir les div (left et right) cote à cote . 1 fr: 1 fraction -> La largeur colonne (contenant Our store)  sera aussi grande que son contenu , */
    grid-column-gap: 30px;/*écart entre les deux colonnes*/
    margin-bottom: 30px; /*marge en haut et en bas*/
}
main .section-title{ /*div titre Home page*/
    font-size: 22px;
    margin-bottom:30px
}

main .left{
    border-right: thin solid #d4d4d4;/*bordure droite de la div gauche permettant de séparer les 2 colonnes*/
    padding-right: 20px;
}

main .left a{/*tout les liens affichés dans la div de gauche */
    display:block; /*permet d'avoir chaque lien occupant toute la div -> sont affichés alors l'un au dessus de l'autre*/
    text-decoration: none;
    color: #555;
    font-size: 18px;
    margin-bottom: 10px; /*marge entre les liens*/
}

main .left a:hover{
    text-decoration: underline;/*soulignement lors du hover sur le lien*/
}
main .right{}

main .right .product{
    display: grid;/*permet de diviser le contenu des produits pour avoir deux colonnes */
    grid-template-columns: auto 1fr;/* l'image et le texte*/
    grid-column-gap: 50px;/*écart entre les deux colonnes img et text*/
    grid-row-gap: 50px; /*écart entre les lignes des produits affichés sur img et text car on aura plusieurs produits à afficher*/
}

main .right .product-left img{/*div de droite, sous div product-left , tag image*/
    height: 150px; /*limitation de la hauteur*/
    display: block;/*block pour que la prochaine img se place à la prochaine ligne*/
    margin: 0 auto; /*pas de marge haut et bas mais centrer sur les cotés gauches et droits de la cellule*/
}
main .right .title a{/*dans la div right, coté droit de cette div il y a la classe "title" du paragraphe dont le titre  affiché sous forme de lien ("Coding is fun"-->div "product-right")*/
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #555;
    line-height: 26px;/*dans le cas ou le titre de description fait plus d'1 ligne*/
}

main .right .title a:hover{
    text-decoration: underline;
}

main .right .title .description {/*description du produit sur partie droite sous le titre précédent*/
    margin-top: 10px; /*écart avec le titre*/
}



/******************************************Footer***************************************************/
footer{

    background-color: #333;
    padding: 20px;
    width: 100%;
    color: #ffff;
}

main .right  .price{
    font-size: 24px;
    margin-top: 30px;
    color: darkred;
}

