DB_HOST=mySQLdbHost
DB_USER=mySQLuserName
DB_NAME=mySQdbName
DB_PASS=mySQLpassword
userMongo=userNameMongo
pwdMongo=passwordMongo
uriMongo=mongodb://userNameMongo:passwordMongo@mySQLdbHost
SMTP_Mailer_EMAIL=myEmail
SMTP_Mailer_PASS=mySecretSecurityEmailKey