/*********************************COMMMUN********************************************/
:root{      /*palette couleurs*/

    --dark-color:#222222;
    --light-color:#dddddd;
    --aliceblue: aliceblue;
    /*--highlight-color: #eeeeee;*/
    --rosy: rosybrown;
    --elmDeco:#551A8B;
    -TextClick:#fff;
    --hover:#954dd7;
}

*{ /*par défaut si rien de précisé*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, "Verdana"; /*police google font Montserrat appliquée par défaut, Verdana en seconde option */
    z-index: 30;
}


/*************************FOOTER****************************************************/


.footer{
    width: 100%;
    max-height: 4rem;                    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    background-color: var(--rosy);
   /* position:fixed;
    bottom: 0;*/
    z-index: 30;
}

.footerLink{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.footerLink a{           
    font-style: 10px;
    margin: 15px;
    color: #551A8B;

}

.footerLink a:hover,
.footerLink a.active, .fastdev{ /*lors du hover */
    color: #fff;
}

.fastdev{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.fastdev p{
font-size: 10px;
margin-right: 20px;
}