/*********************************COMMMUN********************************************/
:root{      /*palette couleurs*/

    --dark-color:#222222;
    --light-color:#dddddd;
    --aliceblue: aliceblue;
    /*--highlight-color: #eeeeee;*/
    --rosy: rosybrown;
    --elmDeco:#551A8B;
    --TextClick:#fff;
    --hover:#954dd7;
    --rosyLight:rgb(205, 178, 178);
}

*{ /*par défaut si rien de précisé*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, "Verdana"; /*police google font Montserrat appliquée par défaut, Verdana en seconde option */
}

body{
    background-color: var(--rosyLight);
}

p, textarea, input, label{
    font-size: 20px;
}

h1, h2, a{
    color: var(--elmDeco);
}

/*************************SECTIONS-COMMUN****************************************************/
.main{
    width: 80%;
    height: 100%;
    margin: 50px auto;
    margin-top: 150px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    }

.separator {
    height: 3px;
    background-color: var(--elmDeco);
    width: 100%;
    margin: 20px 0px;
    position: relative;
}

.sectionTitle{
/*en réf au tag séparator parent précédent*/
    position: absolute;
    top:50%; /*place le texte à 50% en bas du centre du séparator*/
    left: 50%;/*place le texte à 50% à la gauche du centre du séparator (droite du point de vue user)*/
    transform: translate(-50%,-50%);/*on rattrape les 50% décalés auquel on rajoute 50% pour avoir le texte au centre exact=> soit (-50%, -50%) */
    z-index: 10;/*placé au dessus du séparator*/
    background-color: var(--rosyLight);
    font-family: "Lobster",Arial, Helvetica, sans-serif;
    color: var(--elmDeco);
}

/*************************A propos de nous****************************************************/

.presBlocks{
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}

.presLeft{
    width: 50%;
    display:flex;

    
    }

.presLeft>img{
    width: 500px;
    height: auto;
    align-self: center;
    border-radius:5px;
    margin: 0px auto;
    
}    

.presRight{
    width: 50%;
    display:flex;
    flex-direction: column;
    margin: 0px 10px;
    text-justify: center;
    margin-top: 50px;

    

    }
.presRight>h1{
    text-align: center;
    
}

.presRight>p{
    margin-top: 30px;
    text-align: justify;
    margin-right: 10px;

}

/*************************Notre équipe****************************************************/
.ourTeam{
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around; 
    box-sizing: border-box;

    }

.teamMember{

    padding: 10px;
    text-align:justify;
    display: flex;
    flex-direction: column;
    width: 33%;
    
}

.memberPicture{   
    border: 3px ridge var(--elmDeco);
    border-radius:5px;      
}

.memberTitle, .memberDesc{
    margin: 10px auto;
              
}

.memberTitle{
    text-align: center;
}

/*************************Nous joindre****************************************************/

.reachUsBlocks{
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;


    }
.reachUsBlocks h3{
    text-align: center;
    margin: 10px;
}
.reachUsLeft{
    width: 50%;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    align-items: center;
    
    }

.reachUsLeftContent{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


.mapResponsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 80%;
    width: 80%;
    margin: auto;
    
    
}

.mapResponsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.reachUsLeftContent>p{
    margin-bottom: 20px;
    
}

.reachUsRight{
    width: 50%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px ridge var(--elmDeco);
    border-radius:5px;  
    align-items: center;
    
    }

.reachUsRightContent{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.reachUsRight p{
    margin: 10px auto;
}
.reachUsRight li{
    font-weight: bold;
}

.orderType, .orderTypeContact{
    margin-left: 20px;
    margin-top: 20px;
}

.orderTypeContact li{
font-weight: normal;
font-size: 20px;
}

/***************************Nos retours clients****************************************/

.comments{
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;

    
    }

.comment{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
    
    
}

.commentPP{ /*image*/
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.commentText{
    margin: 0px 10px;
}

.commentText p{
    text-align: justify;
}



    
/*****************************************************GESTION RESPONSIVE*****************************************/

/***************Au dessus 1100px: Affichage Ordinateur*/



/*Autres Règles CSS défini plus haut par défaut

/***************Spécificité Tablet :  Affichage Tablet(700px<A<1100px)********************/

@media screen  and (max-width: 1100px) {

/*Commun*/
    body {
        
        margin: 0 auto;
    }

p, textarea, input, label,li{
        font-size: 16px;
    }
    h3{
        font-size: 20px;
    }

/*Sections*/

.presBlocks{
    display: flex;
    flex-direction:column;

}

.presLeft{
    width: 100%;
    height: auto;
}

.presLeft>img{
    height: auto;
    max-width: 80%;
    margin: 0px auto;
}

.presRight{
    width: 100%;
    height: auto;
}

    .ourTeam{
    display: flex;
    flex-wrap: wrap;
        }

    .teamMember{
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align:justify;
        
        
    }
    .memberPicture{
    max-height: auto;
    max-width: 80%;
    margin: 0px auto;

    }

.reachUsBlocks{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    }

.reachUsLeft{
    width: 100%;
    height: auto;
}

.reachUsLeftContent>p{
    margin-top: 20px;
    
}

.presLeft>img{
    height: auto;
    max-width: 80%;
    margin: 0px auto;
}

.reachUsRight{
    width: 100%;
    height: auto;
}

.memberTitle {
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    }

.orderTypeContact li{
font-size: 14px;
}    

}


/******************Sous 700px: Affichage Téléphone*/

@media screen and (max-width: 700px){

/*Commun*/

    p, li{
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
    h1{
        font-size: 20px;
    }

/*Sections*/
    .ourTeam{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
        
    }
    .teamMember{
        width: 100%; 
        padding: 20px;
        text-align:justify;
        
        
    }

    .memberPicture{
    height: auto;
    width: 80%;
    }

.memberTitle h3{
    margin: 0px auto;
    text-align: center;
    font-size: 14px;
    }
.memberDesc{
margin: 10px 15px 0px 15px;
}

.orderType, .orderTypeContact{
    margin-left: 10px;
    margin-top: 10px;
}


}