
/*********************************DEFAULT********************************************/
:root{      /*palette couleurs*/

    --dark-color:#222222;
    --light-color:#dddddd;
    --aliceblue: aliceblue;
    /*--highlight-color: #eeeeee;*/
    --rosy: rosybrown;
    --elmDeco:#551A8B;
    --TextClick:#fff;
    --hover:#954dd7;
    --rosyLight:rgb(205, 178, 178);
}

*{ /*par défaut si rien de précisé*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, "Verdana"; /*police google font Montserrat appliquée par défaut, Verdana en seconde option */
}

p, input, label,a,h3 {
    font-size: 20px;
}
h1, h2,h3,h4, h5, h6, a, th, option,hr {
    color: var(--elmDeco);
}
/************************COMMUN******************************/

#frame{/*id du body*/
    
    height: 100vh;
    width: 100vw;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--rosyLight);
    
 }


.lowerBlock, .upperBlock{
display: flex;
flex-direction: row;
flex-wrap: nowrap;


}
.upperBlock-right, .upperBlock-left{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}

.lowerBlock-right, .lowerBlock-left{
    width:50%;
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}


/***********************SPECIFIC CREATION**************************/
.sectionTitle{
    font-family: "Lobster",Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-style:double;
    color: var(--elmDeco);
    margin-bottom: 20px;
    
}
.form-content{
    display: flex;
    flex-direction:column ;
}
/*image à télécharger*/
#imageSelected{
   font-size: 20px; 
   flex-wrap: wrap;
}
.label{
    font-weight: bold;
}
.fileInfo{
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
}
#acceptedFile{
    font-style: italic;
    font-size: 16px;
    color: darkblue;
    
    
}
/*lié au module previewImg.js (font de contrôle Img)*/
#fileName, #fileSize, #fileType{
    font-size: 16px;
    font-weight: 600;
}

#menuTitle{
border-radius: 5px;
width:100%;
font-size: 20px;
padding: 5px;
}


#textInput{
width:100%;
height:300px;
resize:none;
border-radius: 10px;
font-size: 20px;
padding: 5px;
}

#menuTitle, #textInput{
margin-top: 5px;    
}
.menuPrice, .minPeople, .remainQty{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 10px;
}
#menuPrice, #minPeople, #remainQty{
    width:33%
}
#sendData{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    

}
#errorMessage{
    color: darkred;
}


/**********************SPECIFIC PREVIEW*******************/


.Preview{
    box-sizing: border-box;
    border-radius: 10px;
    border: 10px ridge rgba(75, 75, 138, 0.6);
    padding: 5px;
}

#previewImage{
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 5px;

}

#inputContent{   
    width:400px;
    height:500px;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #1fe0;
    resize: none;
    font-size: 20px;
    background-color: #1fe0; /* Complètement transparent - notation raccourcie */

    
    
    
}



#inputTitleContent{
  font-family: "Lobster",Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: darkblue;
  border-bottom: 5px double rgba(0, 0, 138,0.5);
      
}

.priceText{
    font-family: "Lobster",Arial, Helvetica, sans-serif;
    color: darkblue ;
    border-top: 5px double rgba(0, 0, 138,0.5);
}

.copiedInputs{
    text-align: end;
    font-family: "Lobster",Arial, Helvetica, sans-serif;
    font-weight: 500;
}
/****************************************Gestion de l'Upload image******************************************************/



.errorUpload{
	margin-top: 30px;
	color: darkred;
}

.success{
	margin-top: 30px;
	color: darkgreen;
}


/****************************************Gestion Responsive des blocs******************************************************/

/***************Au dessus 1100px: Affichage Ordinateur*/


/*****************Sous 1100px: Affichage Tablet*******************/
@media screen and (max-width:1100px) {

/*Affichage colonne*/
.lowerBlock, .upperBlock{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;

    

}

.upperBlock-right, .upperBlock-left{
width:100% ;
}

#menuTitle{
border-radius: 5px;
width:400px;
align-self: center;

}

#textInput{
width: 25rem;
height:25rem;
resize:none;
border-radius: 10px;
}
#inputContent{   
width: 25rem;
height:25rem;
}
}
/******************Sous 700px: Affichage Téléphone*/

@media screen and (max-width: 700px) {



.lowerBlock, .upperBlock{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;



}

.upperBlock-right, .upperBlock-left{
width:100% ;
}

.lowerBlock-right, .lowerBlock-left{
width:100% ;
}
#menuTitle{

width: 400px;
align-self: center;

}

p, textarea, input, label{
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
    h1{
        font-size: 20px;
    }

}
