DB_HOST=myOnlineSQL_DB_Host
DB_USER=myOnlineSQL_DB_User
DB_NAME=myOnlineSQL_DB_Name
DB_PASS=myOnlineSQL_DB_Pass
userMongo=myOnlineMongo_Username
pwdMongo=myOnlineMongo_Password
uriMongo=myOnlineMongo_DB_Uri
SMTP_Mailer_EMAIL=myEmail
SMTP_Mailer_PASS=mySecretSecurityEmailKey