DB_HOST=host_docker
DB_USER=mySQLuserName
DB_NAME=mySQdbName
DB_PASS=mySQLpassword
userMongo=userNameMongo
pwdMongo=passwordMongo
uriMongo=mongodb://userNameMongo:passwordMongo@mongo:27017/?authSource=admin
SMTP_Mailer_EMAIL=myEmail
SMTP_Mailer_PASS=mySecretSecurityEmailKey