
/*********************************DEFAULT********************************************/
:root{      /*palette couleurs*/

    --dark-color:#222222;
    --light-color:#dddddd;
    --aliceblue: aliceblue;
    /*--highlight-color: #eeeeee;*/
    --rosy: rosybrown;
    --elmDeco:#551A8B;
    --TextClick:#fff;
    --hover:#954dd7;
    --rosyLight:rgb(205, 178, 178);
}


*{ /*par défaut si rien de précisé*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, "Verdana"; /*police google font Montserrat appliquée par défaut, Verdana en seconde option */
}

p, input, label,a,h3 {
    font-size: 20px;
}
h1, h2,h3,h4, h5, h6, a, th, option,hr {
    color: var(--elmDeco);
}

nav{
    background-color: var(--rosyLight);
}
.navlink:hover,
.nav-link { /*lors du hover*/
    background-color: #954dd7;
    color: #fff;
    border-radius: 3px; 

}

body{
    background-color: var(--rosyLight);
}

table{
    
    background-color: var(--rosyLight);
}
tbody{
    background-color: var(--rosyLight);
}
