*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{      /*new: palette added,with color properties to be used by classes when needed*/

    --dark-color:#222222;
    --light-color:#dddddd;
    --highlight-color: #eeeeee;
}

.nav-link, .nav-link:visited, .nav-link:active, .nav-link:hover, /*new: list of nav-link&status which will use the --light-color property on dark background*/ 
.footer-link, .footer-link:visited, .footer-link:active, .footer-link:hover{ /*new: list of nav-link&status which will use the --light-color property*/ 
    color: var(--light-color)
}



header, footer{
    background-color: var(--dark-color);/*new: header&footer background will use the (root var) --dark-color property*/
    min-height: 100px;
    /*border: 1px solid black;  -->New: border removed*/
}


.header{                
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header-title{          
    margin-left: 20px;

    }

.header-navigation{   
    display: flex;
    justify-content: flex-end;

}

.nav-link{          
    margin-right: 20px;
}

.main-banner{
    background-color: var(--light-color);/*new: main-banner background will use the (root var) --light-color property*/
    min-height: 100px;
    /*border: 1px solid black;  -->New: border removed*/
    padding: 20px 0;                
    text-align: center;             
}

.blogposts{
    background-color: var(--light-color);/*new: blogposts background will use the (root var) --light-color property*/
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around; /*Not mandatory but let , in case of adding another post or two which can not fill the row*/
}                                   /*However the best solution will be to make all post fits in rows by share the width in % on different size screen */

.blogpost{
    min-height: 100px;
    /*border: 1px solid black;  -->New: border removed*/
    padding: 20px; 
}

.blogpost-thumbnail{   
    width: 100%;        
}

.blogpost-title, .blogpost-preview{
    margin: 10px 0;                 
}

.Highlighted{ 
order: -1;
background-color: var(--highlight-color);/*new: Highlighted background will use the (root var) --highlight-color property*/
}
.contact-form{
    background-color: var(--light-color);/*new: contact form background will use the (root var) --light-color property*/
    color:var(--dark-color);/*new added: text color, didn't exist before, will use the --dark-color property*/
    min-height: 100px;
    /*border: 1px solid black;  -->New: border removed*/
}

.contact-form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label{           
    margin: 20px;
    display: block;
    font-style: 14px;
    line-height: 24px;

}

.form-input, .form-textarea{           
    display: block;
    padding: 6px;
}

.form-textarea{                  
    height: 125px;
}

.btn-send{                             
border: none;                          
box-shadow: 3px 3px 8px rgba(0,0,0,.5); 
padding: 12px;                             
margin: 12px 0;                            
cursor:pointer;                            
}
.footer{                    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-link{           
    font-style: 10px;
    margin: 15px;
}

.d-none{
    display: none;
}

@media only screen and (min-width: 600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }
    .d-sm-block {
        display: block;
    }
    .blogposts{
        display: flex;
        flex-wrap: wrap;
    }
    .blogpost{
        width: 50%; 
    }
}

@media only screen and (min-width: 800px){

    body{
        width: 700px;
    }
    
    .blogpost{
        width: 33.33%; 
    }
}