/*********************************DEFAULT********************************************/
:root{      /*palette couleurs*/

    --dark-color:#222222;
    --light-color:#dddddd;
    --aliceblue: aliceblue;
    /*--highlight-color: #eeeeee;*/
    --rosy: rosybrown;
    --elmDeco:#551A8B;
    --TextClick:#fff;
    --hover:#954dd7;
    --rosyLight:rgb(205, 178, 178);
}

*{ /*par défaut si rien de précisé*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, "Verdana"; /*police google font Montserrat appliquée par défaut, Verdana en seconde option */
}

p, input, label{
    font-size: 20px;
}
h1, h2, a, th{
    color: var(--elmDeco);
}


/*************************SECTIONS-COMMUN****************************************************/
body{
    background-color: var(--rosyLight);

}

.main{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.separator {
    height: 3px;
    background-color: var(--elmDeco);
    width: 100%;
    margin: 20px 0px;
    position: relative;
    
}

.sectionTitle{
/*en réf au tag séparator parent précédent*/
    position: absolute;
    top:50%; /*place le texte à 50% en bas du centre du séparator*/
    left: 50%;/*place le texte à 50% à la gauche du centre du séparator (droite du point de vue user)*/
    transform: translate(-50%,-50%);/*on rattrape les 50% décalés auquel on rajoute 50% pour avoir le texte au centre exact=> soit (-50%, -50%) */
    z-index: 10;/*placé au dessus du séparator*/
    background-color: var(--rosyLight);
    font-family: "Lobster",Arial, Helvetica, sans-serif;
    color: var(--elmDeco);
}

.note{
    font-size: small;
}


/*************************Sections****************************************************/

.multiSectionsTop{
display: flex;
justify-content: space-between;
}

.multiSectionsBottom{
display: flex;
flex-direction: column;


}

.multiSectionsLeft{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.multiSectionsRight{
width: 50%;
display: flex;
flex-direction: column;
align-content: flex-start;

}



.Section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    /*height:calc(100vh - 60px);/*réglage pour régler la position de la section à 60px de la totalité de la view height */

}
.multiSectionsBottom .Section{
    margin-top: 50px;
}

#myOrders{
    display: flex;
    justify-content: center;
    width: 100%;
}

.SectionContent{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    justify-content: center;
    padding: 40px;/*A augmenter si nécessaire pour plus d'espace*/
    max-width: 600px; /*largeur maxi de la carte - convient également au format tel _à modifier si besoin*/
    width: 100%;/*espace complet occupé jusqu'au max-width*/
    
}


.myOrders .SectionContent .myOrdersTable{
    width: 100%;
    text-align: center;
    
}

.myOrders .SectionContent .orderDetails>table{
    width: 100%;
    text-align:end;
}
.tables{
    width: 100%;
    display: flex;
    justify-content: center;
}
.myOrderTable thead tr th,td{
    text-align: center;
    padding: 5px 15px;
}



.myOrders .SectionContent .orderDetails td{
    border-bottom: var(--hover) 0.5px solid;
}

.myOrders, #hideMyOrders, #hideDetails{
    display: none;
}




input[type="text"], input[type="password"], input[type="textarea"], input[type="email"] {
    max-width: 500px;/*en rapport avec la taille max du parent*/


}

.SectionContent h2{
    margin-top: 0;
    color: var(--elmDeco);
    text-align: center;
    margin-bottom: 20px;
}




.detailedInput label{
    display: block;
    font-weight: bold;
    color: var(--elmDeco);
}

.fetch input{
background-color:rgb(205, 178, 178);
display: flex;
text-align: end;

}

#showPass{
    display: flex;
    width: 75%;
}
#showPass label{
    width: 75%;
    font-size: small;
}

#passCheckbox{
    width: 25%;

}

input:not(input[type="submit"]){ /*tout les input du doc (sauf du type submit) et le textarea*/
    border: none; /*retrait des bordures par défaut sur les input*/
    border-bottom: 2px solid var(--elmDeco); /*ajout d'une bordure basse personalisée*/
    resize: none; /*pas de possibilité de redimensionnement possible du textarea manuellement*/
    outline: none;/*par défaut lorsque l on clique sur l'input , va mettre la bordure de celui ci en noir/bold pour montrer que l on a cliqué dessus ->on l'enlève donc*/
    width: 30vw;/*largeur de 30 ViewWidth pour la police (30% largeur de la div parent (100% de l'écran dans notre cas)) */
    margin-bottom: 20px;
    padding: 12px;
    margin-top: 5px;
    
}



/********Input type submit************/

.formBottom{
    display: flex;
    justify-content: end;
}

.accessManagement, .orderDetailsButtons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

input[type="date"], input[type="time"],input[type="text"],input[type="tel"], input[type="email"]   {
    color: var(--elmDeco);
}

input[type="submit"]{ 
    background-color: var(--rosy);
    border-radius: 20px;
    border: none;
    padding: 10px;/*autour du texte*/
    font-weight: 600;
    color: var(--elmDeco);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);/*ombre de 0px en hor, au top, et 5px vers le bas=>opacité de 0.5 en noir)   */
    margin: 10px 0px;

    cursor: pointer;
    transition: transform 0.5s ease-in-out;/*effet de 0.5s sur la fonction hover dédiée, ease-in-out = lent rapide-lent*/
}

input[type="submit"]:hover {
    transform: translateY(-5px); /*fait monter l'élément de 5px sur Y lors du hover*/
    background-color:var(--hover);
    color: var(--TextClick);

}

#deleteAccount{
    background-color: darkred;
}

#deleteAccount:hover {
    background-color:red;
    color: var(--TextClick);
}

#disconnect, #hideDetails, #hideMyOrders{
    background-color: lightgrey;
}


footer{
    position:fixed;
    bottom: 0;
}










/*****************************************************GESTION RESPONSIVE*****************************************/

/***************Au dessus 1100px: Affichage Ordinateur*/



/*Autres Règles CSS défini plus haut par défaut

/***************Spécificité Tablet :  Affichage Tablet(700px<A<1100px)********************/

@media screen  and (max-width: 1100px) {

/*Commun*/
    body {
        
        margin: 0 auto;
    }

p,textarea input, label{
        font-size: 14px;
    }
    h3{
        font-size: 60px;
    }

/*Sections*/

.multiSectionsTop{
display: flex;
flex-direction: column;

}

.multiSectionsBottom .Section{
    margin-top: 30px;
    display: flex;
flex-direction: column;
}


input:not(input[type="submit"]), textarea{
width: 55vw; /*augmenté pour convenir à la taille de l'écran*/
}

.multiSectionsLeft{
width: 100%;
display: flex;

}


.multiSectionsRight{
width: 100%;
display: flex;


}

.fetch input{
display: flex;
text-align: start;
}

}


/******************Sous 700px: Affichage Téléphone*/

@media screen and (max-width: 700px){

/*Commun*/

p, textarea, input, label{
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
    h1{
        font-size: 20px;
    }

/*Sections*/


}